.para{                            /* this is class selector */
text-align: center;
font-style: oblique;
color: darkred;
background-color: aquamarine;
}
ol{                                /* this is tag selector */

    color: red;
}
#table{ 
    width: 300px;                            /* this is id selector */
    height: 200px;
    text-align: center;
    border-collapse: collapse;
    margin: 20px auto;
    background-color: lightgoldenrodyellow;
}
.p2{
    background-color: black;
    font-size: larger;
    text-align: center;
    color: white;
}
form{
    background-color: rgb(16, 228, 228);
    width: 600px;
    margin: 20px auto;
    height: 300px;
} 
form label{
    margin-left: 30px;
    font-weight: bold;
}  
.button{
    margin-left: 230px ;
}
